/* styles.css */
@import './App.css';
@import './components/pages/Footer/Footer.css';
@import './components/pages/HomePage/FirstPage.css';
@import './components/pages/ImageCarousal/Carousal.css';
@import './components/pages/ScrollText/ScrollText.css';
@import './components/pages/ContactPage/contact.css';
@import './components/pages/VoiceBox/voicebox.css';

body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif; /* Default font for body */
	background-color: #000000; /* Dark background */
	color: #fff; /* Light text */
}
 


    





