/* Cursor styles */
.custom-cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    pointer-events: none;
    z-index: 10000;
    transition: background-color 0.3s ease;
    transform: translate3d(-50%, -50%, 0);
    mix-blend-mode: difference; /* Optional: This creates a cool effect by blending the cursor with background */
    will-change: transform;
  }
  
  /* Cursor active on click */
  .cursor--active {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.5); /* Enlarge the cursor on click */
  }
  
  /* Optional: Hide the default cursor */
  body {
    cursor: none; /* Hides the default mouse cursor */
  }
  